<div class="hero-unit">
    <h1>Employer Stats</h1>

    <h4>Choose Employer</h4>
    <select ng-model="selectedEmployer" ng-options="e.name for e in employers">
        <option value="">-- choose employer --</option>
    </select>
    <div>
        <button type="button" class="btn btn-primary" ng-click="loadEmployerStats()">Load Employer Data</button>
    </div>

    <h4>Members who finished shopping</h4>
    <div>
        <piechart id="d3pie"
                  data="havePurchaseStats"
                  width="300"
                  height="300"></piechart>
    </div>

    <!--<div>
        <h4>Purchases ({{ purchases.length }})</h4>
        <table ng-show="purchases.length > 0">
            <tr>
                <th>Product Name</th>
                <th>member BloomId</th>
                <th>BloomId</th>
            </tr>
            <tr ng-repeat="purchase in purchases">
                <td>{{purchase.productName}}</td>
                <td>{{purchase.memberBloomId}}</td>
                <td>{{purchase.bloomId}}</td>
            </tr>
        </table>
    </div>-->
    <!--<div>
        <member-list members="members"></member-list>
    </div>-->
</div>
