<div class="hero-unit">
    <h1>Employer Stats</h1>

    <h4>Choose Employer</h4>
    <select ng-model="selectedEmployer" ng-options="e.name for e in employers">
        <option value="">-- choose employer --</option>
    </select>
    <div>
        <button type="button" class="btn btn-primary" ng-click="loadEmployerStats()">{{ loadButtonText() }}</button>
    </div>

    <div ng-show="completedPurchases">
        <h4>Members who finished shopping</h4>
        <piechart id="completedPurchases"
                  data="completedPurchases"
                  width="300"
                  height="300"></piechart>
    </div>

    <!--<h4>What members purchased</h4>
    <div>
        <h4>results ({{ purchaseNames.length }})</h4>
        <table ng-show="purchaseNames.length > 0">
            <tr>
                <th>Product Name</th>
                <th>Product type</th>
                <th>BloomId</th>
                <th>count</th>
            </tr>
            <tr ng-repeat="purchase in purchaseNames">
                <td>{{purchase.productName}}</td>
                <td>{{purchase.productType}}</td>
                <td>{{purchase.bloomId}}</td>
                <td>{{purchase.count}}</td>
            </tr>
        </table>
    </div>-->
    <!--<div>
        <member-list members="members"></member-list>
    </div>-->
</div>
