body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 800px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.is-active {
    color: green;
}

.controls select {
    margin-bottom: 0;
}

.circle {
    border-radius: 50%;
    border: 0.1em solid #656;
    box-shadow: -0.15em 0.15em 2px #bbb;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    margin-left: 12px;
}

.view-toggle {
    float: right;
}

.bar-chart rect {
    fill: #1f77b4;
}

.bar-chart text.bar-text {
    fill: white;
    text-anchor: end;
}

.bar-chart text.bar-label {
    fill: #333;
}